@font-face{
  font-family: 'Muli-Regular', sans-serif;
  src: url(../fonts/Muli-Regular.woff2) format('woff2'),
      url(../fonts/Muli-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face{
  font-family: 'Muli-Bold', sans-serif;
  src: url(../fonts/Muli-Bold.woff2) format('woff2'),
      url(../fonts/Muli-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face{
  font-family: 'MyriadPro-Regular', sans-serif;
  src: url(../fonts/MyriadPro-Regular.woff2) format('woff2'),
      url(../fonts/MyriadPro-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}