%muli-r{
  font-family: 'Muli-Regular', sans-serif;
  font-weight: 400;
}
%muli-b{
  font-family: 'Muli-Bold', sans-serif;
  font-weight: 700;
}
%myriad-r{
  font-family: 'MyriadPro-Regular', sans-serif;
  font-weight: 400;
}
%mont-r{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
%mont-black{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
%mont-b{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
%noto-b{
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}
%play-r{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
%pop-r{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
%pop-sb{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
